*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #242121;
}

a {
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  padding: 1rem;
  color: #242121;
  border-radius: 0 0 0 .5rem;
}

table {
  overflow: hidden;
}

td {
  position: relative;
  background: blue;
}

.circle {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
