*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #242121;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

td {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  background: blue;
}
